<div class="container">
  <div class="d-flex justify-content-between align-items-center">
    <h1 class=" my-5">Lista de proveedores</h1>
    <button class="btn btn-success fs-4 m-0" style="height: fit-content;">
      <p class="m-0 p-0">+</p>
    </button>
  </div>
  <div class="container">
    <table class="table table-hover">
      <thead>
        <tr>
          <th scope="col" class="col-1">Nif</th>
          <th scope="col" class="col-2">Nombre</th>
          <th scope="col" class="col-3">Apellido 1º</th>
          <th scope="col" class="col-2">Apellido 2º</th>
          <th class="col-2"></th>
        </tr>
      </thead>
      <tbody id="tbody_proveedores">
        <tr *ngFor="let proveedor of proveedores; let i = index">
          <td>{{ proveedor.nif }}</td>
          <td>{{ proveedor.nombre }}</td>
          <td>{{ proveedor.apellido1 }}</td>
          <td>{{ proveedor.apellido2 }}</td>
          <td class="d-flex flex-row justify-content-around">
              <i [routerLink]="['../ver', proveedor.id ]" class="btn btn-success bi bi-eye"></i>
              <i [routerLink]="['../editar', proveedor.id ]" class="btn btn-warning bi bi-pencil"></i>
              <i (click)="borrarProveedor(proveedor)" class="btn btn-danger bi bi-trash"></i>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>