html
{
    height: 98%;
    width: 99%;
}
body
{
    height: 100%;
    width: 100%;
}
p
{
    margin: 0px;
}

td
{
    height: fit-content;
    border: 1px solid black;
    width: 100px;
}
tbody
{
    border: 1px solid black;
}
thead td
{
    border: none;
    text-align: center;
}