/*************************************************
// Examen de DAW2 (DIW)
// Autor: Francisco Javier Merchán Macías
// Descripción: Fichero de estilos CSS
// Nombre del fichero: estilos/estilos.css
**************************************************/
section
{
  max-width: 1030px;
  display: grid;
  grid-auto-flow: column;
  grid-template-columns: auto auto auto ;
  grid-area: auto;
}
section img
{
  height: 200px;
}

@media screen and (max-width: 768px) 
{

  section
  {
    display: flex;
    flex-wrap: wrap-reverse;
  }

}