html{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
    background-color: rgb(255, 255, 255);
    display: flex;
    justify-content: center;
}

.equipos-body{
    width: 1000px;
}