<div id="editForm" class="card p-3 mb-4 d-none">
  <form action="">
    <div data-mdb-input-init class="form-outline mb-4">
      <label class="form-label" for="mail">Email</label>
      <input
        type="email"
        id="mail"
        class="form-control"
        placeholder="Phone number or email address"
        validate="email"
        readonly
      />
    </div>
    <div class="row">
      <div data-mdb-input-init="true" class="form-outline mb-4 col-12 col-md-4">
        <label class="form-label" for="name">Name</label>
        <input type="text" id="name" class="form-control" placeholder="Name" />
      </div>
      <div data-mdb-input-init="true" class="form-outline mb-4 col-12 col-md-4">
        <label class="form-label" for="age">Age</label>
        <input type="number" id="age" class="form-control" placeholder="Age" />
      </div>
      <div class="form-outline mb-4 col-12 col-md-4">
        <label class="form-label" for="age">Role</label>
        <select
          name="rol"
          id="rolSelector"
          data-mdb-input-init
          class="form-select"
        >
          <option value="unassigned">Unassigned</option>
          <option value="alum">Student</option>
          <option value="prof">Professor</option>
          <option value="admin">Admin</option>
        </select>
      </div>
      <div id="rolform" class="form-outline mb-4 d-none"></div>
      <div class="d-flex align-items-center justify-content-between">
        <button type="button" id="btnCancelEdit" class="btn btn-outline-danger">
          Cancel
        </button>
        <button type="button" id="btnSaveEdit" class="btn btn-outline-primary">
          Save
        </button>
      </div>
    </div>
  </form>
</div>
<div class="d-flex align-items-center justify-content-between">
  <button type="button" id="btnPrevPage" class="btn btn-outline-secondary">
    <i class="bi bi-arrow-left"></i>
  </button>
  <h2 id="pagNum">1</h2>
  <select
    name="rol"
    id="rolFilter"
    data-mdb-input-init
    class="form-select w-25"
  >
    <option value="all">All</option>
    <option value="unassigned">Unassigned</option>
    <option value="alum">Student</option>
    <option value="prof">Professor</option>
    <option value="admin">Admin</option>
  </select>
  <button type="button" id="btnNextPage" class="btn btn-outline-secondary">
    <i class="bi bi-arrow-right"></i>
  </button>
</div>
<table class="table">
  <thead>
    <tr id="trhead">
      <th scope="col" class="text-center">#</th>
      <th scope="col">Name</th>
      <th scope="col">Email</th>
      <th scope="col">Age</th>
      <th scope="col">Rol</th>
      <th scope="col">Active</th>
    </tr>
  </thead>
  <tbody id="tbody_users" class="table-group-divider"></tbody>
</table>
