<div class="card px-4 py-2" style="height: 450px">
  <div class="d-flex align-items-center justify-content-between">
    <button type="button" id="btnPrevPage" class="btn btn-outline-secondary">
      <i class="bi bi-arrow-left"></i>
    </button>
    <h3 class="text-center" id="className">className</h3>
    <button type="button" id="btnNextPage" class="btn btn-outline-secondary">
      <i class="bi bi-arrow-right"></i>
    </button>
  </div>
  <hr />
  <div class="row">
    <div class="col-6" style="overflow-y: scroll; max-height: 350px">
      <table class="table">
        <thead>
          <tr id="trhead">
            <th scope="col">#</th>
            <th scope="col">Name</th>
            <th scope="col">Email</th>
            <th scope="col">Age</th>
          </tr>
        </thead>
        <tbody id="tbody_prof" class="table-group-divider"></tbody>
      </table>
    </div>
    <div class="col-6" style="overflow-y: scroll; max-height: 350px">
      <table class="table">
        <thead>
          <tr id="trhead">
            <th scope="col">#</th>
            <th scope="col">Name</th>
            <th scope="col">Email</th>
            <th scope="col">Age</th>
          </tr>
        </thead>
        <tbody id="tbody_alum" class="table-group-divider"></tbody>
      </table>
    </div>
  </div>
</div>
