<div class="h-100">
  <div class="row g-0">
    <div class="card p-md-5">
      <div class="text-center">
        <h2 id="profileName" class="mt-1 mb-5 pb-1">
          {{ actualSession.name.toUpperCase() }}
        </h2>
      </div>
      <form id="loginForm" action="" class="row">
        <div data-mdb-input-init class="form-outline mb-4 col">
          <label class="form-label" for="profileEmail">Email</label>
          <input type="email" id="emailInput" class="form-control" placeholder="Phone number or email address"
            value="{{ actualSession.email }}" readonly />
        </div>
        <div data-mdb-input-init="true" class="form-outline mb-4 col">
          <label class="form-label" for="name">Name</label>
          <input type="text" id="nameInput" class="form-control" placeholder="Name" value="{{ actualSession.name }}"
            readonly />
        </div>
        <div data-mdb-input-init="true" class="form-outline mb-4 col">
          <label class="form-label" for="age">Age</label>
          <input type="number" id="ageInput" class="form-control" placeholder="Age" value="{{ actualSession.age }}"
            readonly />
        </div>
      </form>
    </div>
  </div>
  <div class="row g-0 my-3">
    <div id="classesDiv" class="card p-md-5">
      <h2 id="profName" class="mt-1 mb-5 pb-1 text-center">
        {{ actualSession.name.toUpperCase() }}
      </h2>
      <app-users [canEdit]="false" *ngIf="this.actualSession.rol == 'admin'"></app-users>
      <app-classes *ngIf="this.actualSession.rol == 'prof' || this.actualSession.rol == 'alum'"></app-classes>
    </div>
  </div>
</div>