<!-- Aquí está la tabla donde se van a insetar los resultados -->
<table class="table table-bordered table-striped text-center table-light table-hover align-items-center">
    <!-- Encabezado de la tabla -->
    <thead class="table text-white bg-primary">
        <tr>
            <th scope="col">Nombre</th>
            <th scope="col">Descripción</th>
            <th scope="col">Fecha de Alta</th>
            <th scope="col">Tiempo</th>
            <th scope="col">Dificultad</th>
            <th scope="col">Puntuación</th>
            <th scope="col" colspan="3">{{this.paginaActual}}</th> <!-- Mostrar detalles -->
            <!-- <th scope="col"></th> Editar -->
            <!-- <th scope="col"></th> Eliminar receta -->
        </tr>
    </thead>
    <!-- 
        Cuerpo de la tabla. Aquí es donde se van a insertar las recetas
    -->
    <tbody>
        <tr *ngFor="let receta of recetas; let i = index">
            <td>{{ receta.nombre }}</td>
            <td>{{ receta.descripcion }}</td>
            <td>{{ receta.fechaAlta }}</td>
            <td>{{ receta.tiempo }}</td>
            <td>{{ receta.dificultad}}</td>
            <td>{{ receta.puntuacion }}</td>
            <td>
                <i [routerLink]="['../ver', receta.id ]" class="btn btn-success bi bi-eye"></i>
            </td>                
            <td>
                <i [routerLink]="['../editar', receta.id ]" class="btn btn-warning bi bi-pencil"></i>
            </td>    
            <td>
                <i (click)="borrarReceta(receta)" class="btn btn-danger bi bi-trash"></i>
            </td>
        </tr>        
    </tbody>
</table>
<app-paginador [paginaActual]="paginaActual" (onPaginaCambiada)="cambiarPagina($event)" ></app-paginador>